.ICEauthority
.NERDTreeBookmarks
.PlayOnLinux/
.Xauthority
.Xdefaults
.aptitude/
.bash_history
.bash_logout
.bash_profile
.bashrc
.byebug_hist
.cache/
.config/
.ctags
.dmrc
.fonts/
.gconf/
.gem/
.gemrc
.gitconfig
.gnome/
.gnome2/
.gstreamer-0.10/
.heroku/
.irb-history
.irssi/
.kde/
.lesshst
.local/
.mozilla/
.mysql/
.mysql_history
.netrc
.npm/
.pip/
.pki/
.profile
.pry_history
.rvm/
.sqlite_history
.ssh/
.thumbnails/
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
Apps/
Desktop/
Downloads/
PlayOnLinux's virtual drives
core
dev/
temp/
ycm_build/
